CONN_STRING="" //этот файл попадает в репозиторий, в котором указан список переменных
 окружения которые необходимы для запуска приложений
Если ты тока скачал проект и там есть этот файл надо зайти сюда скопировать его 
и вставить в проект, назвать файл .env
